{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
    {% include 'includes/alerts.html' %}
	<div class="row">
		{% include 'includes/dashboard_side_bar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Your Order History</strong>
		</header>
		<table class="table">
            <thead class="">
              <tr>
                <th>OrderID</th>
                <th>Order Total</th>
                <th>Order Status</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders_ %}
              <tr>
                <td>{{order.order_number}}</td>
                <td>{{order.order_total}}</td>
                <td>{{order.status}}</td>
                <td><a href="/orders/order_complete/?order_number={{order.order_number}}&payment_id={{order.razorpay_order_id}}" class="btn btn-outline-success">Invoice</a></td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
		<div class="table-responsive">

		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}